<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uk.ac.westminster.diabetesmanagementapplication">
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:appComponentFactory="android.support.v4.app.CoreComponentFactory"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DiabetesManagementApplication"
        tools:replace="android:appComponentFactory">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".AddEventActivity" />
        <activity android:name=".GraphsActivity" />
        <activity android:name=".StatisticsActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>